@model SwapDeals.Models.User

@{
    ViewBag.Title = "User Details";
}



<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
  
    <input type="button"  value="Update" class="btn btn-primary" onclick="location.href = '@Url.Action("Update/" + Model.UserID, "Users")'" />
    


</div>

