@model IEnumerable<SwapDeals.Models.Deal>

@{
    ViewBag.Title = "Index";
}

<h2>Deals</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DealID)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingID)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID1)
        </th>
        @if (Session["admin"] != null)
        {
            <th>
                @Html.DisplayNameFor(model => model.User1Rating)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.UserID2)
        </th>
        @if (Session["admin"] != null)
        {
            <th>
                @Html.DisplayNameFor(model => model.User2Rating)
            </th>
        }
        @if (Session["admin"] != null)
        {
            <th>
                @Html.DisplayNameFor(model => model.Revenue)
            </th>
        }
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th></th>
        </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DealID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookingID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserID1)
    </td>
    @if (Session["admin"] != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.User1Rating)
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.UserID2)
    </td>
    @if (Session["admin"] != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.User2Rating)
        </td>
    }
    @if (Session["admin"] != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Revenue)
        </td>
    }
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.DealID })
        </td>
    </tr>
}

</table>
